.container>form {
  align-items: stretch;
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.certgen-btn {
  background: rgb(107, 109, 132);
  color: white;
}

.certgen-btn:hover {
  background: rgb(51, 59, 74);

}

.property-btn {
  background: rgb(107, 109, 132);
  color: white;
  margin-right: 1rem;
}

.property-btn:hover {
  background: rgb(51, 59, 74);
}

.newpara-btn {
  background: rgb(255, 246, 147);
  color: black;
}

.cert-body-paragraph {
  width: 500px;
  padding: 1rem;
}

.submit-prop-btn {
  background: rgb(107, 109, 132);
  color: white;
  margin-top: 1rem;

}


.submit-prop-btn:hover {
  background: rgb(51, 59, 74);
  color: white;
  margin-top: 1rem;

}

.err {
  color: red;
}

.tabs {
  display: flex;
  margin-bottom: 50px;
}

.tabitem {
  color: white;
  border: 2px solid #fff;
  cursor: pointer;
  width: 250pxpx;
  height: 45px;
  text-align: center;
  padding: 1rem;
  background-color: rgb(107, 109, 132);
  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tabitem--inactive {
  opacity: 0.3;
  filter: grayscale(100%);
}

.tabitem__icon {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
}

.tabitem__title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  margin: 10px 0;
}
.content-field{
  width: 500px;
  height: 300px;
  padding: 1rem;
}
.certificate-scroller{
  overflow-y: scroll;
}

.cert-del-btn {
  border: 2px solid !important;
  border-color: darkred !important;
  background-color: darkred !important;
  color: #eef6ec  !important;
}

.cert-del-btn:hover {
  border: 2px solid !important;
  border-color: darkred !important;
  background-color: white !important;
  color: darkred !important;
}

.cert-add-btn {
  background-color: #019867;
  color: #eef6ec ;
}
.cert-add-btn:hover {
  background-color: #eef6ec;
  color: #019867 ;
}

.cert-edit-btn{
  border: 2px solid !important;
  border-color: #324b4e !important;
  background-color:  #324b4e !important;
  color: #eef6ec  !important;
}
.cert-edit-btn:hover{
  border: 2px solid !important;
  border-color: #324b4e !important;
  background-color:  #eef6ec !important;
  color: #324b4e  !important;
}

.cert-submit-btn{
  margin-top: 1.5rem;
  width: 20rem;
}

.cert-submit-ctnr{
  display: flex;
 justify-content:center;
}
