.leFt{
    font-size: 20px;
}
.leFt p{
    padding: 10px;
}


.rIght input{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btnEdit {
    margin-top: 10px;
}

.btnSave{
    margin-top: 10px;
}


.btnSettings{
    text-decoration: none;
    text-transform: none;
    color: black;
}

.btnSettings:hover{
    color:black;
}