.buttonsColumn {
  position: relative;    
}

.buttonDelete {
  position: absolute;  
  right: -50px;
  top: 0px;
  margin: 2px;
  visibility: hidden;
}

.buttonDeleteVisible {
  visibility: visible;
}

.row {
  height: 45px;  
}