/* CUSTOM STYLE STARTS HERE  */

/* STYLE FOR CARDS  */

.card_general {
  background-color: #fbfbfb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 20px;
}

.card_date {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #324b4e;
}

.card_current_task {
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #324b4e;
}

.card_filter {
  background-color: azure;
  padding-bottom: 5px;
}
.card_performance {
  background-color: #eef6ec;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.card_timesheet {
  height: auto;
  background-color: #fbfbfb;
  padding-bottom: 10px;
}

/* CONTAINER STYLES */

.container_export {
  padding: 10px;
  background-color: transparent;
  margin-top: 10px;
}
/* BUTTON STYLES */

.d-flex {
  background-color: transparent;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.btn-danger {
  background-color: darkred !important;
}

.btn-danger:hover {
  border: 2px solid !important;
  border-color: darkred !important;
  background-color: transparent !important;
  color: darkred !important;
}
.btn_start_modal,
.btn_startTime {
  margin-left: 10px;
  border: 2px solid transparent !important;
  padding: 10px !important;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn_startTime{
  border-radius: 5px;
  width: 80px;
  height: 80px;
  font-size: 2.5em;
  color: black;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn_start_modal {
  padding: 10px !important;
  border-radius: 5px;
  width: max-content;
  color: #eef6ec;
  font-size: 1em;
  margin-left: 20px;
}

.btn_startTime:hover,
.btn_check:hover {
  border: 2px solid !important;
  border-color: black !important;
  background-color: #eef6ec !important;
  color: black !important;
}

.btn_delete:hover:enabled {
  border: 2px solid !important;
  border-color: darkred !important;
  background-color: transparent !important;
  color: darkred !important;
}

.btn_edit:hover:enabled, .btn_add_time:hover:enabled {
  border: 2px solid !important;
  border-color: #324b4e !important;
  background-color: transparent !important;
  color: #324b4e !important;
}

.btn_save:hover:enabled, .btn_download:hover:enabled  {
  border: 2px solid !important;
  border-color: #323C4E !important;
  background-color: transparent !important;
  color: #323C4E !important;
}

.btn_delete:disabled,
.btn_edit:disabled,
.btn_save:disabled,
.btn_download:disabled,
.btn_add_time:disabled {
  background-color: lightgray;
}

.btn-danger:disabled,
.btn-success:disabled {
  background-color: #324b4e !important;
}

.btn-success {
  background-color: #324b4e !important;
  border: 2px solid transparent !important;
}

.btn-success:hover {
  border: 2px solid !important;
  border-color: #324b4e !important;
  background-color: transparent !important;
  color: #324b4e !important;
}

.btn-success:focus,
.btn-danger:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-export {
  background-color: #3c4b64 !important;
  width: 100%;
}

.btn-performance {
  background-color: #324b4e !important;
  width: 100%;
}

.txt_general {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  background-color: transparent;
}

.txt_today {
  font-size: medium;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #324b4e;
}

.txt_date {
  padding-top: 5px;
  font-size: 2em;
  font-weight: lighter;
  color: #fbfbfb;
}

.txt_time {
  font-size: 2em;
  font-weight: 700;
  color: #fbfbfb;
}

.txt_task_title {
  padding-right: 30px;
  font-size: 2em;
  font-weight: bold;
  color: azure;
}

.txt_task_description {
  font-size: 1.3em;
  font-weight: 400;
  color: #eef6ec;
}

.txt_task_startTime,
.txt_task_duration {
  font-size: 1.2em;
  font-weight: 400;
  color: #eef6ec;
}

.txt_filter {
  font-size: 1.8em;
  background-color: #303c54;
  padding: 15px;
  font-weight: 500;
  color: #eef6ec;
}

.txt_performance {
  font-size: 1.8em;
  background-color: #324b4e;
  padding: 15px;
  font-weight: 500;
  color: #eef6ec;
}

.txt_filterDay {
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 5px;
}

input[type="checkbox"] {
  transform: scale(1);
}

.container_filterDay {
  padding-left: 10px;
  padding-top: 5px;
  background-color: transparent;
  float: left;
  padding-right: 5px;
}

.btn_datePicker {
  width: 120px;
}

.container_endDay {
  padding-left: 10px;
  padding-top: 5px;
  background-color: transparent;
  float: left;
  position: relative;
  padding-bottom: 30px;
}
.container_datePicker {
  padding-left: 30px;
  padding-top: 8px;
  background-color: transparent;
  float: left;
  padding-right: 5px;
}

.span_duration {
  background-color: transparent;
}

/* TABLE STYLE */

.table_container {
  background-color: transparent;
  padding: 20px;
  width: 100%;
}

#time_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  table-layout: auto;
  font-size: 13px;
}

#time_table td {
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fbfbfb;
  padding: 15px;
}

#time_table th {
  background-color: #324b4e;
  color: white;
  padding: 10px;
  padding-left: 15px;
}


#time_table td:nth-child(5){
  width: 500px;
}

#time_table.time_table--reports {
  
 overflow: hidden;
 
 td:nth-child(5) {
   width: auto;  
 } 
 td:nth-child(6) {
   max-width: 125px;  
 } 
}

#time_table td:last-child{
  width: 150px;
}



/* TIME MODAL STYLES */

.timeModal {
  background: #fff;
  width: 650px;
  height: 300px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  z-index: 100;
}

.timeModal_header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding-bottom: 10px;
}

.timeModal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.timeModal_textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  height: 100%;
}

.btn_close_modal {
  background-color: transparent;
  border: 0px;
  color: #303c54;
}

.btn_close_modal:hover {
  opacity: 0.5;
}

.p_error {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  color: #fff;
  font-size: 1px;
}

.bar_chart {
  height: 100vh;
  margin: 4rem;
}

/* PERFORMANCE CONTAINER */

.txt_pStatus {
  font-size: 20px;
  margin: 0px;
}

.btxt_pStatus {
  font-weight: 500;
  color: darkred;
}

.btxt_hours {
  font-weight: 500;
  color: darkgreen;
}

.txt_pProductivityRate {
  margin-top: 0px;
  font-size: 20px;
  margin: 0px;
}

.txt_pTotalHours {
  margin-top: 0px;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 10px;
}

.txt_comment {
  font-weight: 500;
  padding-bottom: 10px;
}

/* STATUS CONTAINER */

.card_status {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #303c54;
}

.card_hours {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #324b4e;
}
.card_totalhours {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #3c4b64;
}

.txt_avr {
  color: #eef6ec;
  margin: 0px;
}

.txt_avrHour {
  color: #eef6ec;
  margin: 0px;
  font-size: 35px;
  padding-top: 5px;
}

.txt_totalHour {
  color: #eef6ec;
  margin: 0px;
  font-size: 25px;
  padding-top: 5px;
}

.txt_mp_status {
  color: #eef6ec;
}

.card_sort {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #303c54;
}

.card_pie {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #324b4e;
  height: 500px;
}

.card_pieDescription {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  height: 500px;
}

.txt_sort {
  color: #eef6ec;
  padding-right: 10px;
  padding-left: 5px;
  font-weight: 300;
}

// loading modal

.span_loading {
  width: 70px;
  height: 70px;
  font-size: 45px;
  color: #324b4e;
}

.txt_loading {
  color: #324b4e;
  padding-top: 20px;
  font-weight: 300;
  padding-left: 20px;
}

.card_total_hours {
  background-color: azure;
  padding: 20px;
  margin-bottom: 30px;
}

.btn_delete,
.btn_edit,
.btn_save, 
.btn_download,
.btn_add_time {
  border-color: transparent;
  color: #eef6ec;
  border-radius: 6px;
  font-size: 13px;
  background-color: darkred;
  width: 35px;
  height: 35px;
  text-align: center;
  align-items: center;
  margin-left: 5px;
  padding: 0px;
}

.btn_edit, .btn_add_time {
  background-color: #324b4e;
}

.btn_save {
  background-color: #019867;
}

.btn_download{
  background-color: #323C4E;
}


.container_edit_delete {
  width: min-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.confirmation_text {
  color: #324b4e;
  width: max-content;
  height: 10px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: 400;
}

.btn_check,
.btn_times {
  border-color: transparent;
  color: #eef6ec;
  border-radius: 5px;
  font-size: medium;
  background-color: #324b4e;
  margin-right: 10px;
  width: min-content;
  height: min-content;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.btn_times {
  background-color: darkred;
}
.client_dropdown {
  padding: 10px;
  width: max-content;
  border-radius: 5px;
  background-color: #324b4e;
  color: #eef6ec;
}

.txt_client,
.txt_hawrs {
  width: max-content;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 13px;
  font-size: 1em;
}
.txt_hawrs {
  font-size: 1.28em;
  padding-top: 5px;
  font-weight: 600;
  color: #324b4e;
}

.txt_hawrs_b {
  font-weight: 800;
  color: darkred;
}

.spinner_loading {
  padding-right: 5px;
}

/* SKELETON */

.skeleton_definite_title,
.skeleton_title,
.skeleton_definite_title_timesheet {
  background-color: lightgray;
  height: 20px;
  width: 100%;
  color: lightgray;
}

.skeleton_text_table {
  background-color: #e4e5e7;
  font-size: 20px;
  color: #e4e5e7;
}

.skeleton_hours_text {
  background-color: #e4e5e7;
  color: #e4e5e7;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  padding-top: 0px;
  margin-top: 0px;
}

.skeleton_text_dropdown{
  background-color: #e4e5e7;
  font-size: 12px;
  color: #e4e5e7;
  margin-right: 5px;
  margin-top: 0px;
  margin-left: 5px;
}

.skeleton_title {
  height: 40px;
}

.skeleton_btn,
.skeleton_definite_btn {
  background-color: lightgray;
  height: 100%;
  width: 100%;
  color: lightgray;
  border-radius: 7px;
}

.skeleton_definite_btn {
  width: 40px;
  margin-top: 20px;
  height: 40px;
  margin-left: 20px;
}

.skeleton_text,
.skeleton_definite_text {
  background-color: #e4e5e7;
  height: 15px;
  color: #e4e5e7;
}

.skeleton_definite_text,
.skeleton_definite_title {
  width: max-content;
  margin-bottom: 10px;
  height: max-content;
  margin-right: 2px;
}

.skeleton_definite_title_timesheet {
  height: 40px;
  width: max-content;
  margin-bottom: 20px;
  margin-right: 10px;
}

.skeleton_text {
  height: 25px;
}
.skeleton_card {
  background-color: #f6f6f7;
  height: max-content;
  width: 100%;
  border-radius: 7px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* COLORS */

$playColor: #019867;

$idleColor: #fff7e4;

.btn_download_csv, .btn_download_pdf {
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-size: 14px;
  background-color: #303c54;
  color: #e4e5e7;
  margin-right: 5x;
  margin-top: 0px;
  margin-left: 10px;
}

.btn_download_csv:hover, .btn_download_pdf:hover, .btn_select_all:hover {
  border: 2px solid #303c54;
}

.btn_download_csv:disabled, .btn_download_pdf:disabled, .btn_select_all:disabled {
  background-color: #324b4e !important;
}

.txt_download {
  padding-left: 2px;
  font-weight: 300px;
}

.btn_download_csv:focus, .btn_download_pdf:focus, .btn_select_all:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* TIMETRACKING SIDEBAR */
.sidebar_icon{
  margin-right: 10px;
}

.icon_chevron{
  text-align: end;
  align-items: flex-end;
  
}

$onFocus: #323C4E;
.sidebar_btn_timetracking {
  background-color: #3F4B62;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: 0px;
  color: #E4E6E9;
  border-bottom-left-radius: 0px;
  text-align: left;
  align-items: flex-start;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar_btn_timetracking:hover,
.sidebar_btn_timetracking:focus {
  background-color: #3C4657;
  color: #E4E6E9;
  border: 0px;
  outline: none;
  box-shadow: none;
}

.sidebar_collapse {
  background-color: #49546A;
  width: 100%;
  border: 0px;
  color: #E4E6E9;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  align-items: flex-start;
  padding-left: 25px;
}

.sidebar_sub_items {
  border: 0px;
  font-size: 15px;
  background-color: transparent;
  color: #e4e5e7;
  margin: 0;
  font-size: 14px;
}

/* INVOICE STYLES */

.invoice_txt_general {
  font-size: 10px;
}

.invoice_textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  height: 100%;
}

.container_invoice_date {
  padding: 30px;
  background: transparent;
}

.container_invoice {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  margin-bottom: 50px;
  background: transparent;
}


.container_bill_to {
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
}
.container_header {
  padding-bottom: 10px;
  background: transparent;
}

.invoice_txt_header {
  padding-bottom: 10px;
  font-size: 12px;
}

.invoice_bar {
  background-color: #303c54;
  height: 2px;
  width: 100%;
}

.invoice_btn_email {
  background-color: #324b4e;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

/* SUMMARY TABLE INVOICE */

.invoice_table_container {
  background-color: transparent;
  padding: 30px;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#summary_table {
  font-family: Arial, Helvetica, sans-serif;
  width: 624px;
  table-layout: auto;
  border: 1px solid black;
  font-size: 8px;
}

#summary_table td {
  background-color: transparent;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
#summary_table td:nth-child(1){
  width: 120px;
}

#bank_table {
  font-family: Arial, Helvetica, sans-serif;
  width: 624px;
  table-layout: auto;
  border: 0px;
  font-size: 10px;
}

#bank_table td {
  background-color: transparent;
  padding: 10px;
  border: 0px;
  text-align: justify;
  text-align-last: center;
}

.invoice_txt_bill_to {
  padding-right: 10px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container_payment {
  align-items: center;
  justify-content: center;
  background: transparent;
  padding-top: 27px;
}

.developers_table_container {
  background-color: transparent;
  width: auto;
  padding: 30px;
  padding-bottom: 10px;
}

#developers_table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 624px;
  table-layout: auto;
  font-size: 8px;
  align-self: center;
  justify-content: center;
}

#developers_table td {
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  
  padding: 10px;
}

#developers_table th {
  background-color: #324b4e;
  color: white;
  padding: 10px;
}

#developers_table td:last-child{
  text-align: left;
  width: 30%;
}

#developers_table td:nth-child(2){
  width: max-content;
}

.txt_total_due{
  font-size: 12px;
}


.container_invoice_2 {
  width: 1000px;
  background: transparent;
  padding-top: 30px;
}

.invoice_datepicker {
  background-color: #fff;
  padding: 0px;
  border: 1px solid lightgray;
  border-radius: 2px;
  text-align: center;
  cursor: default;
  margin-left: 5px;
}

/* INVOICE SKELETON */ 

.invoice_skeleton_title, .invoice_skeleton_p_title, .invoice_skeleton_list,  .professional_fee_skeleton_list {
  background-color: lightgray;
  font-size: 10px;
  color: lightgray;
  margin-bottom: 10px;
  width: max-content;
}

.invoice_skeleton_list {
  font-size: 15px;
}


.invoice_skeleton_text, .invoice_skeleton_p_text{
  background-color: #e4e5e7;
  font-size: 8px;
  margin-bottom: 10px;
  width: max-content;
  color: #e4e5e7;
}
.invoice_skeleton_p_text, .invoice_skeleton_p_title{
  margin-bottom: 0px;
}

.input_developer_rate {
  width: 30px;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 0px;
  margin-right: 5px;
}

.input_developer_rate:focus{
  background-color: transparent !important;
}

.container_developer_rate {
  margin: 0;
  padding: 0;
}

#details_table {
  font-family: Arial, Helvetica, sans-serif;
  width: 624px;
  table-layout: auto;
  border: 1px solid black;
  font-size: 8px;
}

#details_table td {
  background-color: transparent;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#details_table td:nth-child(2) {
  width: 200px;
}

#details_table td:nth-child(1) {
  text-align: left;
}

.btn_add {
  width: 20px;
  height: 20px;
  background-color: #324b4e;
  margin-left: 10px;
  border-radius: 30px;
  color: #e4e5e7;
  text-align: center;
  font-size: 10px;
  padding: 0px;
  margin-top: 15px;
}

.btn_add:hover {
  border: 1px solid #324b4e;
  color: #324b4e;
}

.btn_select_all  {
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  font-size: 14px;
  background-color: #303c54;
  color: #e4e5e7;
  margin-right: 5x;
  margin-top: 0px;
  margin-left: 10px;
}

.btn_select_all{
   margin-left: 10px;
}

.container_invoice_buttons {
  padding-bottom: 40px;
  width: 1000px;
  border-bottom: 3px solid #303c54;
}

.datepicker{
  background-color: #fff;
  padding: 7px;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  cursor: default;
}

.datepicker:disabled{
  background-color: #f6f6f7;
  color: lightgray;
}

.timetable_textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 10px;
  height: 45px;
}

/* LIST STYLES */
.list_professional_fees, .list_professional_fees_skeleton, 
.list_invoices, .list_invoices_skeleton {
  font-size: 20px;
  padding-left: 20px;
}

.list_professional_fees:hover,
.list_invoices:hover{
  color: coral;
  cursor: pointer;
}

.invoiceNumber{
  cursor: pointer;
}

.professionalFeePaymentNum{
  cursor: pointer;
}



