@import '@/styles/ksStyles/ks-colors.scss';
@import '@/styles/ksStyles/ks-mixins.scss';
@import '@/styles/ksStyles/ks-dimensions.scss';

/** General SCSS 
 ** Normally used for general components
 ** 
**/

.general {
  // File upload 
  &-file {
    @include flex(center, center, column);
    padding-top: 20px;
    gap: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 200px;
    max-width: 200px;
    min-width: 200px;

    &-icon {
      color: #455a64;
      font-size: 75px;
    }

    &-row {
      @include flex(flex-start, center, row);
      width: 100%;
    }

    &-label {
      @include padding-tb-lr(10px, 10px);
      @include font-regular(12px);
      border: 1px solid lightgray;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 100%;
    }

    &-col {
      @include flex(flex-start, flex-start, column);
      gap: 10px;
    }

    &-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 150px;
      width: 150px;
    }

    &-button {
      @include font-semi-bold(12px);
      @include padding-tb-lr(10px, 15px);
      background-color: #455a64;
      color: white;
      border: 1px solid #455a64;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &-download {
        @include padding-tb-lr(10px, 5px);
        @include font-semi-bold(12px);
        @include flex(center, center, row);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid #455a64;
        gap: 5px;
        color: white;
        text-decoration: none;
        width: 100%;
        background-color: #455a64;

        &:hover {
          color: white;
          background-color: #467286;
        }
      }
    }
  }
  // Text
  &-text {
    @include font-semi-bold(12px);
  }

  // Description
  &-description {
    @include font-light(11px);
  }
  
  &-block-bar {
    @include margin-tb-lr(10px);
    width: 100%;
    border-bottom: 1px solid lightgray;
  }

  // rows
  &-row {
    &-between {
      @include flex(space-between, center, row);
      width: 100%;
    }

    &-center {
      @include flex(center, center, row);
    }

    &-end {
      @include flex(flex-end, center, row);
      width: 100%;
    }
  }
  // Dropdowns
  &-dropdown {
    @include general-text-input(12px);
    padding-left: 5px !important;
  }

  // Input Types (Textboxes & Textareas)
  &-input {
    &-title {
      @include font-semi-bold(12px);
      @include margin-tb-lr(5px);
      text-transform: capitalize;

      &-slug {
        @include font-semi-bold(12px);
        @include padding-all();
        @include margin-all();
        text-transform: capitalize;
        border: none;
        margin-bottom: 0px;
        padding-bottom: 0px;

        &-icon {
          @include font-regular(14px);
          margin-left: 3px;
          margin-top: -10px;
        }

        &:hover {
          background-color: transparent !important;
        }
      }
    }

    &-text {
      @include general-text-input(12px);
      width: 100%;

      &:disabled {
        color: gray;
      }
    }

    &-textarea {
      @include general-text-input(12px);
      @include width-height(100%, 15vh);
      max-height: 500px;
      line-height: 1.5;
      resize: none;
    } 

    &-password {
      position: relative;

      &-box {
        @include flex('start', 'center', 'row');
        gap: 5px;
        position: absolute;
        top: 2px;
        right: 10px;
      }

      &-button {
        all: unset;
        color: $dark-blue-1;
        font-size: 24px;
      }
    }

    &-error {
      border: 1px solid red;
      outline: none;

      &-text {
        @include font-regular(11px);
        color: red;
        margin-top: 5px;
      }
    }
  }

  // Buttons 
  &-button {
    &-delete {
      @include font-semi-bold(12px);
      @include padding-tb-lr(10px, 15px);
      width: max-content;
      background-color: maroon;
      border-radius: 5px;
      border: none;
      color: white;
    }

    &-save {
      @include font-semi-bold(12px);
      @include padding-tb-lr(10px, 10px);
      @include flex(center, center, row);
      width: 110px;
      background-color: #467286;
      border-radius: 5px;
      border: 1px solid #467286;
      color: white;
    }

    &-draft {
        @extend .general-button-save;
        background-color: transparent;
        color: #455a64;
    }

    &-download {
      @include font-semi-bold(11px);
      @include padding-tb-lr(5px, 15px);
      @include flex(center, center, row);
      gap: 5px;
      width: max-content;
      background-color: #455a64;
      border-radius: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #467286;
      color: white;
      border: transparent;

      &:hover {
        background-color: #b0bec5;
        cursor: pointer;
      }

      &:disabled {
        background-color: lightgray !important;
        cursor: not-allowed;

        &:hover {
          background-color: lightgray !important;
          cursor: not-allowed;
        }
      }
    }

    &-cancel {
      @include font-semi-bold(12px);
      @include padding-tb-lr(10px, 15px);
      width: 100px;
      background-color: transparent;
      border: 1px solid #455a64;
      border-radius: 5px;
      color: #455a64;
    }

    &-icon {
      margin-right: 5px;
    }
  }

  // Tables 
  &-table {
    &-header {
      &-slug {
        @include font-regular(12px);
        @include padding-all();
        @include margin-tb-lr(5px);
        text-transform: uppercase;
        background-color: transparent !important;
        border: none;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  // Tooltips
  &-tooltip {
    &-button {
      background-color: transparent !important
    }
    &-icon {
      @include font-regular(14px);
      margin-left: 3px;
      margin-bottom: 2px;
    }
  }

  // Header
  &-header {
    @include font-medium(30px);
    text-transform: capitalize;
  }

  // Checkbox 
  &-checkbox {
    @include flex(flex-start, center, row);
    gap: 5px;

    &-box {
      accent-color: #455a64;
    }

    &-text {
      @include font-light(12px);
    }
  }

  // Modal
  &-modal {
    &-header {
      &-title {
        @include font-semi-bold(16px);
      }

      &-close {
        background-color: transparent;
        border: none;
        margin-top: -5px;
      }
    }

    &-button {
      @include font-semi-bold(12px);
      @include padding-tb-lr(8px, 25px);
      background-color: #455a64;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:disabled {
        background-color: lightgray !important;
      }
    }
  }
}

.attr {
  &-video {
    @include width-height(100%, 100%);
    &-container {
      @include width-height(100%, auto);
    }
  }

  &-boolean {
    @include flex(flex-start, center, row);
    gap: 8px;
    margin-left: 5px;

    &-text {
      @include font-regular(14px);
    }

    &-checkbox {
      transform: scale(1.3);
      accent-color: #455a64;
    }
  }
}

.content-type {
  &-create {
    @include flex(flex-start, flex-start, column);
    gap: 5px;
    width: 100%;
    &-container {
      @include flex(flex-start, flex-start, row);
      gap: 10px;
      margin-top: 10px;
    }
  }
}
  
