@import '@/styles/ksStyles/ks-colors.scss';
@import '@/styles/ksStyles/ks-mixins.scss';
@import '@/styles/ksStyles/ks-dimensions.scss';

.general {
  &-input {
    &-title {
      @include font-semi-bold(12px);
      @include margin-tb-lr(5px);
      text-transform: capitalize;

      &-slug {
        @include font-semi-bold(12px);
        @include padding-all();
        @include margin-all();
        text-transform: capitalize;
        border: none;
        margin-bottom: 0px;
        padding-bottom: 0px;

        &-icon {
          @include font-regular(14px);
          margin-left: 3px;
          margin-top: -10px;
        }

        &:hover {
          background-color: transparent !important;
        }
      }
    }

    &-text {
      @include general-text-input(12px);
    }

    &-textarea {
      @include general-text-input(12px);
      @include width-height(100%, 15vh);
      max-height: 500px;
      line-height: 1.5;
      resize: none;
    } 

    &-error {
      border: 1px solid red;
      outline: none;

      &-text {
        @include font-regular(11px);
        color: red;
        margin-top: 5px;
      }
    }
  }

  &-table {
    &-header {
      &-slug {
        @include font-regular(12px);
        @include padding-all();
        @include margin-tb-lr(5px);
        text-transform: uppercase;
        background-color: transparent !important;
        border: none;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  &-tooltip {
    &-button {
      background-color: transparent !important
    }
    &-icon {
      @include font-regular(14px);
      margin-left: 3px;
      margin-bottom: 2px;
    }
  }
}
  